Repository scop/wrun: changes, and which lefthook commands are due for each by the changed paths.
All: dprint, golangci-lint, ruff, ruff-format

dprint:
  run: wrun -url darwin/amd64=https://github.com/dprint/dprint/releases/download/0.46.1/dprint-x86_64-apple-darwin.zip#sha256-cdea84bce1d84c26e8eced2265d246b79a849ec2e7d1377d98dd7bdb21c7ce83 -url darwin/arm64=https://github.com/dprint/dprint/releases/download/0.46.1/dprint-aarch64-apple-darwin.zip#sha
  ...

golangci-lint:
  run: wrun -url darwin/amd64=https://github.com/golangci/golangci-lint/releases/download/v1.59.0/golangci-lint-1.59.0-darwin-amd64.tar.gz#sha256-418acf7e255ddc0783e97129c9b03d9311b77826a5311d425a01c708a86417e7 -url darwin/arm64=https://github.com/golangci/golangci-lint/releases/download/v1.59.0/golan
  ...

ruff:
  run: wrun -url darwin/amd64=https://github.com/astral-sh/ruff/releases/download/v0.4.8/ruff-0.4.8-x86_64-apple-darwin.tar.gz#sha256-534425542c504dcd0eeca3f26155a72394b02b312d3a026d14015b56cb1ae259 -url darwin/arm64=https://github.com/astral-sh/ruff/releases/download/v0.4.8/ruff-0.4.8-aarch64-apple-d
  ...

ruff-format:
  run: wrun -url darwin/amd64=https://github.com/astral-sh/ruff/releases/download/v0.4.8/ruff-0.4.8-x86_64-apple-darwin.tar.gz#sha256-534425542c504dcd0eeca3f26155a72394b02b312d3a026d14015b56cb1ae259 -url darwin/arm64=https://github.com/astral-sh/ruff/releases/download/v0.4.8/ruff-0.4.8-aarch64-apple-d
  ...

chore(lefthook): upgrade ruff to 0.4.8
  .lefthook.yaml
Due: none

chore(lefthook): upgrade dprint to 0.46.2
  .lefthook.yaml
Due: none

ci: add depandabot
  .github/dependabot.yaml
Due: none

ci: pin GH actions by commit hash
  .github/workflows/check.yaml
  .github/workflows/release-pypi.yaml
  .github/workflows/release.yaml
Due: none

ci: add version comment to hash pinned GH actions
  .github/workflows/check.yaml
  .github/workflows/release-pypi.yaml
  .github/workflows/release.yaml
Due: none

build(goreleaser): mark config as v2
  .goreleaser.yaml
Due: none

fix: make typos and committed generators less filename sensitive
  generators/wrun_committed_args.py
  generators/wrun_typos_args.py
Due: ruff, ruff-format

chore(lefthook): error pre-commit out on file changes
  .lefthook.yaml
Due: none

chore(lefthook): upgrade golangci-lint to 1.59.1
  .lefthook.yaml
Due: none

chore(lefthook): upgrade ruff to 0.4.9
  .lefthook.yaml
Due: none

chore(lefthook): move git diff to a separate, last command, enhance it
  .lefthook.yaml
Due: none

build: include generators in PyPI package
  .gitignore
  README.md
  generators/.gitignore
  setup.cfg
  src/wrun_py/__init__.py
  src/wrun_py/generators/README.md
  src/wrun_py/generators/__init__.py
  src/wrun_py/generators/black.py
  src/wrun_py/generators/committed.py
  src/wrun_py/generators/dprint.py
  src/wrun_py/generators/golangci_lint.py
  src/wrun_py/generators/hadolint.py
  src/wrun_py/generators/ruff.py
  src/wrun_py/generators/shellcheck.py
  src/wrun_py/generators/shfmt.py
  src/wrun_py/generators/terraform.py
  src/wrun_py/generators/tflint.py
  src/wrun_py/generators/trivy.py
  src/wrun_py/generators/typos.py
  src/wrun_py/generators/vacuum.py
Due: dprint, ruff, ruff-format

docs: add tofu generator TODO
  src/wrun_py/generators/README.md
Due: dprint

docs: make non-TODOs links
  src/wrun_py/generators/README.md
Due: dprint

fix: terraform generator filename lookups
  src/wrun_py/generators/terraform.py
Due: ruff, ruff-format

fix(generators): whitespace handling in checksummed filenames
  src/wrun_py/generators/dprint.py
  src/wrun_py/generators/golangci_lint.py
  src/wrun_py/generators/hadolint.py
  src/wrun_py/generators/ruff.py
  src/wrun_py/generators/terraform.py
  src/wrun_py/generators/tflint.py
  src/wrun_py/generators/trivy.py
  src/wrun_py/generators/vacuum.py
Due: ruff, ruff-format

build: include generators in deb/rpm packages
  .goreleaser.yaml
  src/wrun-args.sh
  src/wrun_py/generators/README.md
Due: dprint

fix(generators): file digesting with Python < 3.11
  src/wrun_py/generators/__init__.py
  src/wrun_py/generators/black.py
  src/wrun_py/generators/shellcheck.py
  src/wrun_py/generators/shfmt.py
Due: ruff, ruff-format

docs(generators): add missing license notice
  src/wrun_py/generators/__init__.py
Due: ruff, ruff-format

build: switch mostly to pyproject.toml
  pyproject.toml
  setup.cfg
Due: none

build: update python wheel tag to py3
  setup.py
Due: ruff, ruff-format

ci: test generators
  .github/workflows/check-generators.yaml
Due: none

refactor: reorganize Go source tree
  cmd/wrun.go
  cmd/wrun_test.go
  internal/executable.go
  internal/executable_windows.go
  internal/hash.go
  main.go
Due: golangci-lint

docs: update OS/arch list source ref to Go 1.22.4
  README.md
Due: dprint

chore: add VS Code debug config
  .gitignore
  .vscode/launch.json
Due: dprint

chore: remove JetBrains IDE configs
  .idea/.gitignore
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
  .idea/wrun.iml
Due: none

feat: recognize all hashes supported by Go stdlib
  internal/hash.go
Due: golangci-lint

chore(dprint): upgrade plugins
  .dprint.jsonc
Due: dprint

chore(lefthook): upgrade dprint to 0.47.2
  .lefthook.yaml
Due: none

chore(lefthook): upgrade ruff to 0.5.5
  .lefthook.yaml
Due: none

refactor: use cobra
  .lefthook.yaml
  .pre-commit-hooks.yaml
  README.md
  cmd/root.go
  cmd/root_test.go
  go.mod
  go.sum
  src/wrun_py/generators/README.md
  src/wrun_py/generators/black.py
  src/wrun_py/generators/committed.py
  src/wrun_py/generators/dprint.py
  src/wrun_py/generators/golangci_lint.py
  src/wrun_py/generators/hadolint.py
  src/wrun_py/generators/ruff.py
  src/wrun_py/generators/shellcheck.py
  src/wrun_py/generators/shfmt.py
  src/wrun_py/generators/terraform.py
  src/wrun_py/generators/tflint.py
  src/wrun_py/generators/trivy.py
  src/wrun_py/generators/typos.py
  src/wrun_py/generators/vacuum.py
Due: dprint, golangci-lint, ruff, ruff-format

feat: output tweaks
  README.md
  cmd/root.go
Due: dprint, golangci-lint

wip
  cmd/generate.go
  cmd/generate_black.go
  cmd/generate_vacuum.go
  cmd/root.go
  cmd/wrun.go
  internal/checksums.go
  internal/checksums_test.go
  internal/github.go
  internal/github/release.go
  internal/github/release_test.go
  internal/github_test.go
  internal/pypi/release.go
  src/wrun_py/generators/vacuum.py
  tools/generate_os_arch_regexps.py
Due: golangci-lint, ruff, ruff-format

wip
  cmd/generate.go
  internal/checksums.go
  internal/checksums_test.go
  internal/github.go
  internal/github_test.go
  internal/pypi.go
Due: golangci-lint

wip
  cmd/generate.go
  cmd/generate_github.go
  cmd/generate_terraform.go
  cmd/root.go
  internal/files/categorize.go
  internal/files/executable.go
  internal/files/executable_nonwindows.go
  internal/files/executable_windows.go
  internal/github/release.go
  internal/github/release_test.go
Due: golangci-lint

wip
  cmd/generate.go
  cmd/generate_github.go
  cmd/generate_golangci_lint.go
  cmd/generate_hadolint.go
  cmd/generate_pypi.go
  cmd/generate_ruff.go
  cmd/generate_shfmt.go
  cmd/generate_tflint.go
  cmd/generate_trivy.go
  cmd/generate_typos.go
  cmd/generate_vacuum.go
  internal/github/release.go
  src/wrun_py/generators/golangci_lint.py
  src/wrun_py/generators/hadolint.py
  src/wrun_py/generators/shfmt.py
  src/wrun_py/generators/tflint.py
  src/wrun_py/generators/trivy.py
Due: golangci-lint, ruff, ruff-format

wip
  cmd/generate.go
  cmd/generate_black.go
  cmd/generate_committed.go
  cmd/generate_ruff.go
  cmd/generate_typos.go
  cmd/output.go
  cmd/root.go
  cmd/root_test.go
  cmd/wrun.go
  go.mod
  go.sum
  internal/hash.go
  src/wrun_py/generators/black.py
  src/wrun_py/generators/committed.py
  src/wrun_py/generators/ruff.py
  src/wrun_py/generators/typos.py
Due: golangci-lint, ruff, ruff-format

feat: tweak output logging, always use stderr
  cmd/output.go
  cmd/root.go
Due: golangci-lint

wip
  cmd/generate_black.go
  cmd/generate_dprint.go
  cmd/generate_github.go
  cmd/generate_pypi.go
  go.mod
  go.sum
  internal/checksums.go
  internal/executable_nonwindows.go
  internal/github/release.go
  internal/pypi/project.go
  internal/pypi/project_test.go
  internal/pypi/release.go
  src/wrun_py/generators/dprint.py
Due: golangci-lint, ruff, ruff-format

Path conditions:
  dprint: any of: *.{json,jsonc,md}
  golangci-lint: any of: *.go
  ruff: any of: *.{py,pyi}
  ruff-format: any of: *.{py,pyi}
