Repository scop/wrun: changes, and which lefthook commands are due for each by the changed paths.
All: dprint, golangci-lint, ruff, ruff-format

Path conditions:
  dprint: any of: *.{json,jsonc,md}
  golangci-lint: any of: *.go
  ruff: any of: *.{py,pyi}
  ruff-format: any of: *.{py,pyi}

chore(linting): enable all linters, disable specific
  .golangci.yaml
Due: none

chore(linting): require nolintlint specificity and explanations
  .golangci.yaml
Due: none

style: gofumpt and whitespace linter autofixes
  .golangci.yaml
  cmd/generate_pypi.go
  cmd/root.go
  cmd/wrun.go
  internal/files/categories.go
  internal/files/categories_test.go
  internal/files/executable.go
  internal/github/release.go
Due: golangci-lint

style: sort imports with gci
  .golangci.yaml
  cmd/generate.go
  cmd/generate_github.go
  cmd/generate_pypi.go
  internal/checksums/checksums_test.go
  internal/files/categories_test.go
  internal/pypi/project_test.go
Due: golangci-lint

style: enable perfsprint linter, address findings
  .golangci.yaml
  internal/hashes/hash.go
Due: golangci-lint

build(python): update metadata for PyPI 0.3.1-1 release
  pyproject.toml
  setup.cfg
Due: none

build(python): try without explicit cibuildwheel macOS target version
  .github/workflows/release-pypi.yaml
Due: none

build(python): set explicit macOS 11.0 target for cibuildwheel
  .github/workflows/release-pypi.yaml
Due: none

feat: read and prepend command line args from WRUN_ARGS_FILE
  README.md
  cmd/generate_github.go
  cmd/generate_pypi.go
  cmd/generate_terraform.go
  cmd/root.go
Due: dprint, golangci-lint

chore(lefthook): make use of wrun argument files
  .lefthook.yaml
  .lefthook/wrun-args-dprint.txt
  .lefthook/wrun-args-golangci-lint.txt
  .lefthook/wrun-args-ruff.txt
Due: none

chore(lefthook): invoke wrun as `go run .`
  .github/workflows/check.yaml
  .lefthook.yaml
Due: none

style: enable goconst linter, address findings
  .golangci.yaml
  cmd/root.go
Due: golangci-lint

style: enable nlreturn linter, address findings
  .golangci.yaml
  cmd/generate.go
  cmd/generate_black.go
  cmd/generate_github.go
  cmd/generate_pypi.go
  cmd/generate_shellcheck.go
  cmd/root.go
  cmd/root_test.go
  cmd/wrun.go
  internal/checksums/checksums.go
  internal/files/executable_nonwindows.go
  internal/github/release.go
  internal/hashes/hash.go
  internal/pypi/project.go
Due: golangci-lint

chore(golangci-lint): configure to output all found issues
  .golangci.yaml
Due: none

build(python): update metadata for PyPI 0.4.0-1 release
  pyproject.toml
  setup.cfg
Due: none

chore(dprint): add pretty yaml plugin
  .dprint.jsonc
  .lefthook.yaml
Due: dprint

chore(lefthook): add tool update commands
  .lefthook.yaml
Due: none

ci: add tools update workflow
  .github/workflows/update-tools.yaml
Due: none

chore: automated tools update
  .lefthook/wrun-args-ruff.txt
Due: none

chore: automated tools update
  .dprint.jsonc
  .lefthook/wrun-args-dprint.txt
  .lefthook/wrun-args-ruff.txt
Due: dprint

feat(generators): add uvx example
  cmd/generate_github.go
Due: golangci-lint

chore(golangci-lint): un-TODO godox and tagliatelle
  .golangci.yaml
Due: none

refactor: avoid distant naked returns
  .golangci.yaml
  internal/files/categories.go
Due: golangci-lint

ci(update-tools): run create-pull-request with delete-branch true
  .github/workflows/update-tools.yaml
Due: none

Revert "ci(update-tools): run create-pull-request with delete-branch true"
  .github/workflows/update-tools.yaml
Due: none

chore: automated tools update
  .lefthook/wrun-args-dprint.txt
  .lefthook/wrun-args-golangci-lint.txt
  .lefthook/wrun-args-ruff.txt
Due: none

docs(README): add a TL;DR use case, make usage message collapsible
  README.md
Due: dprint

docs(README): link from TL;DR to download digests
  README.md
Due: dprint

docs(README): add use with lefthook info
  README.md
Due: dprint

docs(README): reorganize pre-commit and CI sections
  README.md
Due: dprint

docs(README): add section on updating executables
  README.md
Due: dprint

docs(README): exe update chapter tweaks and link fixes
  README.md
Due: dprint

docs(README): add generate output excerpts, to illustrate features
  README.md
Due: dprint

docs(README): generate output summary markdown tweak
  README.md
Due: dprint

chore: automated tools update
  .lefthook/wrun-args-golangci-lint.txt
  .lefthook/wrun-args-ruff.txt
Due: none

chore: automated tools update
  .lefthook/wrun-args-dprint.txt
  .lefthook/wrun-args-ruff.txt
Due: none
