Repository scop/wrun: changes, and which lefthook commands are due for each by the changed paths.
All: dprint, golangci-lint, ruff, ruff-format

dprint:
  priority: 1
  ...

golangci-lint:
  priority: 1
  ...

ruff:
  priority: 1
  ...

ruff-format:
  priority: 1
  ...

wip
  cmd/generate.go
  cmd/generate_github.go
  cmd/generate_pypi.go
  cmd/generate_terraform.go
  cmd/root.go
  cmd/wrun.go
  go.mod
  go.sum
  internal/pypi/project.go
  internal/pypi/project_test.go
Due: golangci-lint

wip
  README.md
  cmd/generate.go
  cmd/generate_dprint.go
  cmd/generate_github.go
  cmd/generate_golangci_lint.go
  cmd/generate_hadolint.go
  cmd/generate_shellcheck.go
  cmd/generate_shfmt.go
  cmd/generate_terraform.go
  cmd/generate_tflint.go
  cmd/generate_vacuum.go
  cmd/wrun.go
  internal/files/categorize.go
  internal/github/release.go
  internal/github/release_test.go
  pyproject.toml
  src/wrun-args.sh
  src/wrun_py/__init__.py
  src/wrun_py/generators/README.md
  src/wrun_py/generators/__init__.py
  src/wrun_py/generators/shellcheck.py
  src/wrun_py/generators/terraform.py
Due: dprint, golangci-lint, ruff, ruff-format

wip
  cmd/generate_pypi.go
  cmd/wrun.go
  internal/pypi/project.go
  internal/pypi/project_test.go
Due: golangci-lint

wip
  cmd/generate_pypi.go
  cmd/generate_terraform.go
  cmd/wrun.go
  internal/files/categories.go
  internal/github/release.go
  internal/pypi/project.go
  internal/pypi/project_test.go
Due: golangci-lint

wip
  cmd/generate_github.go
  internal/files/categories.go
  internal/files/categories_test.go
  internal/github/release_test.go
Due: golangci-lint

wip
  cmd/generate_black.go
  cmd/generate_pypi.go
  internal/pypi/project.go
  internal/pypi/project_test.go
Due: golangci-lint

wip
  cmd/generate.go
  cmd/generate_github.go
  cmd/generate_terraform.go
Due: golangci-lint

wip
  .gitignore
  pyproject.toml
Due: none

wip
  cmd/generate.go
  cmd/generate_github.go
  cmd/generate_pypi.go
  cmd/generate_terraform.go
  cmd/root.go
  internal/pypi/project.go
Due: golangci-lint

wip
  cmd/generate.go
  cmd/generate_github.go
  cmd/generate_terraform.go
  cmd/root.go
  cmd/root_test.go
  internal/checksums/checksums.go
  internal/checksums/checksums_test.go
  internal/files/categories.go
  internal/files/categories_test.go
  internal/github/release.go
  internal/hashes/hash.go
  internal/pypi/project.go
Due: golangci-lint

wip
  README.md
  cmd/generate.go
  cmd/generate_committed.go
  cmd/generate_dprint.go
  cmd/generate_github.go
  cmd/generate_golangci_lint.go
  cmd/generate_hadolint.go
  cmd/generate_pypi.go
  cmd/generate_ruff.go
  cmd/generate_shfmt.go
  cmd/generate_terraform.go
  cmd/generate_tflint.go
  cmd/generate_trivy.go
  cmd/generate_typos.go
  cmd/generate_vacuum.go
  cmd/root.go
  internal/pypi/project.go
Due: dprint, golangci-lint

wip
  cmd/generate.go
  cmd/generate_github.go
  internal/files/categories.go
Due: golangci-lint

wip
  go.mod
  go.sum
Due: none

wip
  cmd/generate_github.go
Due: golangci-lint

chore(lefthook): upgrade ruff to 0.5.7
  .lefthook.yaml
Due: none

build(nfpm): remove obsolete generator related things
  .goreleaser.yaml
Due: none

ci: bring PyPI release version sanity check up to date
  .github/workflows/release-pypi.yaml
Due: none

chore(python): bump version for 0.3.0 release
  pyproject.toml
Due: none

fix: arg line assembly
  cmd/root.go
Due: golangci-lint

build(python): remove obsolete setup.cfg generator sections
  tools/generate_setup_cfg.py
Due: ruff, ruff-format

build(python): update executable data for 0.3.0
  setup.cfg
Due: none

chore(lefthook): upgrade golangci-lint to 1.60.3
  .lefthook.yaml
Due: none

ci(lefthook): enable colors
  .github/workflows/check.yaml
Due: none

chore(dprint): upgrade plugins
  .dprint.jsonc
Due: dprint

chore(lefthook): upgrade ruff to 0.6.2
  .lefthook.yaml
Due: none

chore(lefthook): uprade golangci-lint to 1.61.0
  .lefthook.yaml
Due: none

ci: make use of setup-go go-version-file
  .github/workflows/check.yaml
  .github/workflows/release.yaml
Due: none

build(go): upgrade to 1.23
  README.md
  go.mod
Due: dprint

chore(lefthook): upgrade ruff to 0.6.9
  .lefthook.yaml
Due: none

fix: duplicated program name in --version
  cmd/root.go
Due: golangci-lint

build: fix version in --version
  .goreleaser.yaml
Due: none

ci: test generators
  .github/workflows/check-generators.yaml
Due: none

build(pypi): enable PEP 740 attestations
  .github/workflows/release-pypi.yaml
Due: none

style: enable revive linter, address findings
  .golangci.yaml
  cmd/generate.go
  cmd/generate_github.go
  cmd/generate_pypi.go
  cmd/generate_terraform.go
  cmd/root.go
Due: golangci-lint

chore(linting): enable testifylint, address findings
  .golangci.yaml
  internal/checksums/checksums_test.go
  internal/pypi/project_test.go
Due: golangci-lint

Path conditions:
  dprint: any of: *.{json,jsonc,md}
  golangci-lint: any of: *.go
  ruff: any of: *.{py,pyi}
  ruff-format: any of: *.{py,pyi}
